{% extends "email/base.html" %}
{% block content %}
{% if lang == 'ko' %}
<h2>시술이 완료되었습니다</h2>
<p>{{ recipient_name }}님, {{ shop_name }}에서의 시술이 완료되었습니다. 이용해 주셔서 감사합니다!</p>
{% elif lang == 'ja' %}
<h2>施術が完了しました</h2>
<p>{{ recipient_name }}様、{{ shop_name }}での施術が完了しました。ご利用ありがとうございました！</p>
{% elif lang == 'zh' %}
<h2>服务已完成</h2>
<p>{{ recipient_name }}，您在{{ shop_name }}的服务已完成。感谢您的光临！</p>
{% else %}
<h2>Service Completed</h2>
<p>Hi {{ recipient_name }}, your service at {{ shop_name }} has been completed. Thank you for visiting!</p>
{% endif %}
{% include "email/_booking_details.html" %}
{% endblock %}
